<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>Orders</h1>
    
        {% for order in orders %}
        <section>
            <p>
                Order Date: {{order.order_date}}
                <br>
                Customer: {{order.customer_name.title()}}
                <br>
                Movie: {{order.movie_title.title()}}
                <br>
                Rating: {{order.rating.upper()}}
                <br>
                Quantity: {{order.quantity}}
                <br>
                <a href="http://127.0.0.1:5000/orders/{{orders.index(order) + 1}}">View Order</a>
            </p>
        </section>
        {% endfor %}
  

</body>
</html>